NODE_ENV=production
PORT=3000

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_SECRET=
JWT_REFRESH_SECRET=

BREVO_EMAIL=
BREVO_SMTP_KEY=
BREVO_SENDER_EMAIL=

FRONTEND_URL=https://trustgates.co.in